@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
.pagination .page-link {
  color: black !important;
background-color: white !important;
border-color: rgb(180, 72, 0) !important;

}
.pagination .page-item.active .page-link {
  color: white;
  background-color: rgb(253, 101, 0) !important;
  border-color: rgb(180, 72, 0) !important;
}

.bodyy{

  background-color: #0e0e0e;
  color: white;
}
.inputss{
background-color: rgb(36, 36, 36) !important;
color: white !important;
}
.inputss::placeholder {
  color: white !important; 
  opacity: 1;
}

.inputss::-webkit-input-placeholder {
  color: white !important; 
  opacity: 1;
}

.inputss:-ms-input-placeholder {
  color: white !important; 
  opacity: 1;
}

.inputss::-ms-input-placeholder {
  color: white !important; 
  opacity: 1;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.table-container {
  max-width: 600px; 
  margin-left: 0; 
  
}


.naranja{
  color:rgb(253,101,0) !important;
}
.bgnaranja{
  background-color:rgb(253,101,0) !important;
  border: solid 1px rgb(184, 73, 0);
}
.bgnaranja:hover{
  background-color:rgb(253,101,0) !important;
  border: solid 1px rgb(184, 73, 0);
}


.datos{
  padding: 10px;
  padding-bottom: 0px;
  background-color:  rgb(253, 101, 0);
  width:  100%;
  color: white;
  
}
.datos h4, h5{
  filter: drop-shadow(5px 5px 10px  black);
}
#shopName 
{
    font-size: 30px; 
    font-family: 'Lato', sans-serif;
    text-align: center;
    filter: drop-shadow(5px 5px 10px  rgba(255, 255, 255, 0.623));
    
}
#shopName a
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
#shopName b
{
    font-weight: 900;
    color: white !important;


}
#shopName span
{
   color: rgb(253, 101, 0);
   letter-spacing: 3px;
   text-shadow: 2px 2px 5px rgb(0, 0, 0);
   
}




 /* .botones-venta{
 
  display: flex;
  align-items: center;
  justify-content: center;

} 

 .botones-venta .btn {
  color: #fff;
  border: none;
  background-color: #0979b0;
   width: 200px; 
  margin: 10px;

}  */
.navB{
  background-color: black !important; 

}
.navbar-toggler-icon {  
   background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
  
}




.custom-table-header th {
  background-color: rgb(253, 101,0) !important;
  color: #fff!important;
  border: 1px solid rgb(34, 34, 34) !important;
}

.custom-table td.precio {
  background-color: #d4efff !important; /* Color pastel claro para la columna de precio */
}

.custom-table td.precio2 {
  background-color: #a9f8e3 !important; /* Color pastel claro para la columna de precio */
}

.custom-table td.precioF {
  background-color: #ff7373 !important; /* Color pastel claro para la columna de precio */
}





.custom-modal {
  max-width: 1500px !important; /* Importante para priorizar estos estilos */
}

nav{
  background-color: rgb(46, 46, 46) !important;
}

#icono-nav {
  color: #fff;
  display: none;
}
.contenido-header {
  position:relative;
  width: 100%;
  z-index: 100;
  top: 0;
}
.imgg{
  margin-top: 12px;
}




.dropdown-title{
  color: white !important;
}
.btn-jsx:hover {
  filter: brightness(1.3); 
  transition: filter 0.3s ease;
}

.btn-jsx {
  background-color: rgb(253, 101, 0); /* Color de fondo inicial */
  border: none;
  color: white; /* Color del texto */
  padding: 10px 20px; /* Ajuste del padding para mayor tamaño */
  font-size: 17px; /* Tamaño de fuente */
  
  border-radius: 7px; /* Bordes redondeados */
  transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.2s ease, box-shadow 0.1s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto desbordado */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al texto desbordado */
  align-items: center;
  text-align: center;

}

.btn-jsx2 {
  align-items: center;
  text-align: center;
  background-color: rgb(253, 101, 0); /* Color de fondo inicial */
  border: none;
  color: #fff !important; /* Color del texto */
  padding: 10px 20px; /* Ajuste del padding para mayor tamaño */
  font-size: 17px; /* Tamaño de fuente */
  border-radius: 7px; /* Bordes redondeados */
  transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.2s ease, box-shadow 0.1s ease;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al texto desbordado */
  display: inline-block; /* Asegura que el tamaño del botón se ajuste al contenido */
}


.btn-cerrarT{
  background-color: rgba(253, 0, 0, 0.658); /* Color de fondo inicial */
  border: 2px solid rgba(192, 0, 0, 0.658); 
  color:#fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 17px; /* Tamaño de fuente */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.2s ease, box-shadow 0.1s ease;
}

.btn-cerrarT:hover{
  background-color: rgba(182, 0, 0, 0.658); /* Color de fondo al pasar el ratón */
  border: 2px solid rgba(129, 0, 0, 0.658); 
  transform: scale(1.00); /* Efecto de transformación (agrandar) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el ratón */
}

.textoVenta{
  font-size: 10vh;
}

.contBtns{
  display: inline-block; /* Asegura que el tamaño del botón se ajuste al contenido */
  height: 8vh;
  background-color: #236a96;
  box-shadow: 0px 10px 15px 0 #383838;
}
@media screen and (max-width: 800px) {
  /* kl */
   nav{
       display: none;
      
   }
   nav.responsive {
    margin-top: -24px;
       display: block;
       background-color: rgb(46, 46, 46) !important;
       width: 100%;
       position: absolute;
       top: 48px;
       left: 0;
       padding: 10px 0;
   }
   nav.responsive ul {
       margin-top: 30px;
       display: block !important;
       text-align: center;
   }
   nav.responsive ul li {
       margin: 5px 0;
   }
   #icono-nav {
       display: block;
       
   }
   .imgg{
    margin-top: -12px;
  }
  .textoVenta{
    font-size: 5vh;
  }
  .contBtns{
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    display: inline-block; /* Asegura que el tamaño del botón se ajuste al contenido */
    height: 30vh;
    background-color: #236a96;
    box-shadow: 0px 10px 15px 0 #383838;
  }
}

.custom-table-header .paquete-header {
  background-color: rgb(141, 25, 21) !important;
}



.nav-dropdown .dropdown-item-custom {
  background-color: #f8f9fa !important; 
}

.nav-dropdown .dropdown-item-custom:hover {
  background-color: #e9ecef !important; 
}



.dropdown-menu{
  background-color: black;
}

.dropdown-item:hover{
  background-color: #161616 !important;
}  



.btn-jsx2-proveedores {
  background-color: rgb(253, 101, 0); 
  display: inline-flex; 
  align-items: center;
  justify-content: center; 
  text-align: center;/* Color de fondo inicial */
  border: none;
  color: #fff !important;
  font-size: 17px; /* Tamaño de fuente */
  line-height: 15px; /* Ajusta el line-height para centrar verticalmente el texto */
  border-radius: 7px; /* Bordes redondeados */
  transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.2s ease, box-shadow 0.1s ease;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al texto desbordado */
  padding: 0px 10px; /* Ajusta el padding si es necesario */
  z-index: 1000;
}
